# Using MongoDB

...

In [1]:
from linkml_store import Client

client = Client()

In [2]:
db = client.attach_database("mongodb://localhost:27017", "test")

In [9]:
collection = db.create_collection("test", recreate_if_exists=True)

In [10]:
COUNTRIES = "../../tests/input/countries/countries.jsonl"

In [11]:
from linkml_store.utils.format_utils import load_objects

objects = load_objects(COUNTRIES)

In [12]:
import pandas as pd
pd.DataFrame(objects)

,name,code,capital,continent,languages
0,United States,US,"Washington, D.C.",North America,[English]
1,Canada,CA,Ottawa,North America,"[English, French]"
2,Mexico,MX,Mexico City,North America,[Spanish]
3,Brazil,BR,Brasília,South America,[Portuguese]
4,Argentina,AR,Buenos Aires,South America,[Spanish]
5,United Kingdom,GB,London,Europe,[English]
6,France,FR,Paris,Europe,[French]
7,Germany,DE,Berlin,Europe,[German]
8,Italy,IT,Rome,Europe,[Italian]
9,Spain,ES,Madrid,Europe,[Spanish]
10,China,CN,Beijing,Asia,[Standard Chinese]
11,Japan,JP,Tokyo,Asia,[Japanese]
12,India,IN,New Delhi,Asia,"[Hindi, English]"
13,South Korea,KR,Seoul,Asia,[Korean]
14,Indonesia,ID,Jakarta,Asia,[Indonesian]
15,Australia,AU,Canberra,Oceania,[English]
16,New Zealand,NZ,Wellington,Oceania,"[English, Māori]"
17,Egypt,EG,Cairo,Africa,[Arabic]
18,Nigeria,NG,Abuja,Africa,[English]
19,South Africa,ZA,Pretoria,Africa,"[Zulu, Xhosa, Afrikaans, English, Northern Sot..."

In [13]:
collection.insert(objects)

In [14]:
qr = collection.find()

In [15]:
qr.rows_dataframe

,_id,name,code,capital,continent,languages
0,662d4b42cb92da981987ddfc,United States,US,"Washington, D.C.",North America,[English]
1,662d4b42cb92da981987ddfd,Canada,CA,Ottawa,North America,"[English, French]"
2,662d4b42cb92da981987ddfe,Mexico,MX,Mexico City,North America,[Spanish]
3,662d4b42cb92da981987ddff,Brazil,BR,Brasília,South America,[Portuguese]
4,662d4b42cb92da981987de00,Argentina,AR,Buenos Aires,South America,[Spanish]
5,662d4b42cb92da981987de01,United Kingdom,GB,London,Europe,[English]
6,662d4b42cb92da981987de02,France,FR,Paris,Europe,[French]
7,662d4b42cb92da981987de03,Germany,DE,Berlin,Europe,[German]
8,662d4b42cb92da981987de04,Italy,IT,Rome,Europe,[Italian]
9,662d4b42cb92da981987de05,Spain,ES,Madrid,Europe,[Spanish]
10,662d4b42cb92da981987de06,China,CN,Beijing,Asia,[Standard Chinese]
11,662d4b42cb92da981987de07,Japan,JP,Tokyo,Asia,[Japanese]
12,662d4b42cb92da981987de08,India,IN,New Delhi,Asia,"[Hindi, English]"
13,662d4b42cb92da981987de09,South Korea,KR,Seoul,Asia,[Korean]
14,662d4b42cb92da981987de0a,Indonesia,ID,Jakarta,Asia,[Indonesian]
15,662d4b42cb92da981987de0b,Australia,AU,Canberra,Oceania,[English]
16,662d4b42cb92da981987de0c,New Zealand,NZ,Wellington,Oceania,"[English, Māori]"
17,662d4b42cb92da981987de0d,Egypt,EG,Cairo,Africa,[Arabic]
18,662d4b42cb92da981987de0e,Nigeria,NG,Abuja,Africa,[English]
19,662d4b42cb92da981987de0f,South Africa,ZA,Pretoria,Africa,"[Zulu, Xhosa, Afrikaans, English, Northern Sot..."

In [16]:
qr = collection.find({"continent": "Europe"})

In [17]:
qr.rows_dataframe

                        _id            name code capital continent  languages
0  662d4b42cb92da981987de01  United Kingdom   GB  London    Europe  [English]
1  662d4b42cb92da981987de02          France   FR   Paris    Europe   [French]
2  662d4b42cb92da981987de03         Germany   DE  Berlin    Europe   [German]
3  662d4b42cb92da981987de04           Italy   IT    Rome    Europe  [Italian]
4  662d4b42cb92da981987de05           Spain   ES  Madrid    Europe  [Spanish]

In [18]:
fc = collection.query_facets()

In [19]:
fc["continent"]

[('Asia', 5),
 ('Europe', 5),
 ('North America', 3),
 ('Africa', 3),
 ('South America', 2),
 ('Oceania', 2)]

In [20]:
collection.attach_indexer("llm")

In [21]:
qr = collection.search("countries with a King or Queen")
qr.rows_dataframe

In [22]:
qr.num_rows

20

In [23]:
qr.ranked_rows

[(0.750363008472632,
  {'_id': ObjectId('662d4b42cb92da981987de01'),
   'name': 'United Kingdom',
   'code': 'GB',
   'capital': 'London',
   'continent': 'Europe',
   'languages': ['English']}),
 (0.7363757533010432,
  {'_id': ObjectId('662d4b42cb92da981987ddfd'),
   'name': 'Canada',
   'code': 'CA',
   'capital': 'Ottawa',
   'continent': 'North America',
   'languages': ['English', 'French']}),
 (0.7352656582302057,
  {'_id': ObjectId('662d4b42cb92da981987de0b'),
   'name': 'Australia',
   'code': 'AU',
   'capital': 'Canberra',
   'continent': 'Oceania',
   'languages': ['English']}),
 (0.7331208754315192,
  {'_id': ObjectId('662d4b42cb92da981987de09'),
   'name': 'South Korea',
   'code': 'KR',
   'capital': 'Seoul',
   'continent': 'Asia',
   'languages': ['Korean']}),
 (0.7327923214365748,
  {'_id': ObjectId('662d4b42cb92da981987ddfc'),
   'name': 'United States',
   'code': 'US',
   'capital': 'Washington, D.C.',
   'continent': 'North America',
   'languages': ['English']}),
 (0.7314638203989439,
  {'_id': ObjectId('662d4b42cb92da981987de0c'),
   'name': 'New Zealand',
   'code': 'NZ',
   'capital': 'Wellington',
   'continent': 'Oceania',
   'languages': ['English', 'Māori']}),
 (0.7292124940295097,
  {'_id': ObjectId('662d4b42cb92da981987de0f'),
   'name': 'South Africa',
   'code': 'ZA',
   'capital': 'Pretoria',
   'continent': 'Africa',
   'languages': ['Zulu',
    'Xhosa',
    'Afrikaans',
    'English',
    'Northern Sotho',
    'Tswana',
    'Southern Sotho',
    'Tsonga',
    'Swazi',
    'Venda',
    'Southern Ndebele']}),
 (0.7249094217767819,
  {'_id': ObjectId('662d4b42cb92da981987de02'),
   'name': 'France',
   'code': 'FR',
   'capital': 'Paris',
   'continent': 'Europe',
   'languages': ['French']}),
 (0.7226905137326911,
  {'_id': ObjectId('662d4b42cb92da981987de06'),
   'name': 'China',
   'code': 'CN',
   'capital': 'Beijing',
   'continent': 'Asia',
   'languages': ['Standard Chinese']}),
 (0.7219679996358678,
  {'_id': ObjectId('662d4b42cb92da981987de0e'),
   'name': 'Nigeria',
   'code': 'NG',
   'capital': 'Abuja',
   'continent': 'Africa',
   'languages': ['English']}),
 (0.7216173580694863,
  {'_id': ObjectId('662d4b42cb92da981987de0d'),
   'name': 'Egypt',
   'code': 'EG',
   'capital': 'Cairo',
   'continent': 'Africa',
   'languages': ['Arabic']}),
 (0.7213423598673421,
  {'_id': ObjectId('662d4b42cb92da981987de03'),
   'name': 'Germany',
   'code': 'DE',
   'capital': 'Berlin',
   'continent': 'Europe',
   'languages': ['German']}),
 (0.7210998190334833,
  {'_id': ObjectId('662d4b42cb92da981987de05'),
   'name': 'Spain',
   'code': 'ES',
   'capital': 'Madrid',
   'continent': 'Europe',
   'languages': ['Spanish']}),
 (0.7176112959818878,
  {'_id': ObjectId('662d4b42cb92da981987de07'),
   'name': 'Japan',
   'code': 'JP',
   'capital': 'Tokyo',
   'continent': 'Asia',
   'languages': ['Japanese']}),
 (0.7157308807172827,
  {'_id': ObjectId('662d4b42cb92da981987de00'),
   'name': 'Argentina',
   'code': 'AR',
   'capital': 'Buenos Aires',
   'continent': 'South America',
   'languages': ['Spanish']}),
 (0.7149218304650647,
  {'_id': ObjectId('662d4b42cb92da981987ddff'),
   'name': 'Brazil',
   'code': 'BR',
   'capital': 'Brasília',
   'continent': 'South America',
   'languages': ['Portuguese']}),
 (0.7141139396879266,
  {'_id': ObjectId('662d4b42cb92da981987ddfe'),
   'name': 'Mexico',
   'code': 'MX',
   'capital': 'Mexico City',
   'continent': 'North America',
   'languages': ['Spanish']}),
 (0.713500499285373,
  {'_id': ObjectId('662d4b42cb92da981987de08'),
   'name': 'India',
   'code': 'IN',
   'capital': 'New Delhi',
   'continent': 'Asia',
   'languages': ['Hindi', 'English']}),
 (0.7110086838806202,
  {'_id': ObjectId('662d4b42cb92da981987de0a'),
   'name': 'Indonesia',
   'code': 'ID',
   'capital': 'Jakarta',
   'continent': 'Asia',
   'languages': ['Indonesian']}),
 (0.7098208723747818,
  {'_id': ObjectId('662d4b42cb92da981987de04'),
   'name': 'Italy',
   'code': 'IT',
   'capital': 'Rome',
   'continent': 'Europe',
   'languages': ['Italian']})]